.box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background: #f0f2f5;
  padding: 2.4rem;
  width: 90%;
  max-width: 500px;

  display: block;
  overflow-x: auto;
}

.form h2{
  margin-top: 0;
}
.form form h2{
  margin-top: 2rem;
}

form{
  max-width: 500%;
}

input{
  background: #f5f8fa;
  border: none;
  border-radius: .2rem;
  padding: .8rem;
  outline: none;

  width: 100%;
}

.input-block{
  margin-top: .8rem;
}


.line .input-block input {
  width: 48%;
  padding: 1rem;

  text-align: center;

  background: #f5f8fa;
  border: var(--simple-border);
  border-radius: var(--border-radius);

  color: var(--dark-blue);
  outline: none;
}

.input-block input:valid {
  border: 1px solid #a1e9c5;
}

.input-block input:focus {
  border: 3px solid #29b6d1;
}
