form {
  width: 70rem;
  margin: 6.4rem auto;
  background: #fff;
  border: var(--simple-border);

  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 8rem;
}

fieldset {
  border: 0;
}

fieldset + fieldset {
  margin-top: 8rem;
}

fieldset legend {
  width: 100%;

  font-size: 3.2rem;

  color: var(--dark-blue);
  font-weight: 700;

  border-bottom: var(--simple-border);
  margin-bottom: 1.5rem;
  padding-bottom: 2.4rem;
}

.input-block + .input-block {
  margin-top: 2rem;
}

.line .input-block input{
  width: 48%;
  padding: 1rem;

  text-align: center;

  background: #f5f8fa;
  border: var(--simple-border);
  border-radius: var(--border-radius);

  color: var(--dark-blue);
  outline: none;
}

.input-block label {
  color: #8fa7b3;
  margin-bottom: 1rem;
  line-height: 2rem;

  font-weight: 600;
}

.input-block input {
  width: 100%;
  padding: 1.5rem;

  background: #f5f8fa;
  border: var(--simple-border);
  border-radius: var(--border-radius);

  color: var(--dark-blue);
  outline: none;
}

.input-block input:valid {
  border: 1px solid #a1e9c5;
}

.input-block input:focus {
  border: 3px solid #29b6d1;
}
