.logo {
  color: #f0f2f5;
  font-weight: 800;
}

.container {
  width: min(90vw, 800px);

  margin: auto;
}

.quick-access,
.up {
  margin-top: -7rem;
}

a.home-button{
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;

  color: var(--dark-blue);

  cursor: pointer;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

a.home-button:hover{
  background: var(--dark-green);
  color: #fff;
}

a.home-button h3 img{
  width: 48px;
  height: 48px;
}

@media (min-width: 800px) {
  html {
    font-size: 90.5%;
  }

  .quick-access {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .up{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
