#page-landing {
  background: linear-gradient(329.54deg, #36cf82 0%, #26eb88 100%) no-repeat;
  text-align: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  margin: auto;

  width: min(90%, 112rem);

  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  column-gap: 2.6rem;
  align-items: center;
  justify-content: center;
}

header label {
  font: 700 2rem/1 "Nunito", sans-serif;
  padding:  1.5rem 2rem;

  float: right;
}

fieldset {
  border: 0;
  margin-top: 1rem;
}

fieldset legend {
  width: 50%;

  font-size: 3.2rem;
  line-height: 1.5;

  color: #095379;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 5rem;
  padding-bottom: 2.4rem;
}

fieldset a .home-button{
  margin-bottom: 1rem;
}

#quick-access {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  column-gap: 0.6rem;
  row-gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

a .home-button {
  height: 10rem;
  width: 100%;
  font: 700 2rem/1 "Nunito", sans-serif;
  outline: none;
  border: 0;
  background: #448866;
  color: white;

  cursor: pointer;

  border-radius: 2rem;
  padding: 1.5rem 2rem;

  overflow: hidden;

  opacity: 1;

  transition: opacity 0.2s;
}
a .home-button:hover {
  opacity: 0.8;
}

/*desktop version*/

@media (min-width: 760px) {
  #container {
    margin: auto;

    width: min(90%, 112rem);

    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    column-gap: 0.6rem;
    row-gap: 0.6rem;
  }

  header label {
    font: 700 2rem/1 "Nunito", sans-serif;

    float: right;
  }

  #quick-access {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  fieldset {
    border: 0;
    margin-top: 1rem;
  }
  
  fieldset legend {
    width: 50%;
  
    font-size: 3.2rem;
    line-height: 1.5;
  
    color: #095379;
    font-weight: 700;
  
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 5rem;
    padding-bottom: 2.4rem;
  }

  fieldset a .home-button{
    margin-bottom: 1rem;
  }
  

  a .home-button {
    height: 10rem;
    width: 50%;
    font: 700 2rem/1 "Nunito", sans-serif;
    outline: none;
    border: 0;
    background: #448866;
    color: white;

    cursor: pointer;

    border-radius: 2rem;
    padding: 1.5rem 2rem;

    overflow: hidden;

    opacity: 1;

    transition: opacity 0.2s;
  }
  a .home-button:hover {
    opacity: 0.8;
  }
}
