#patient-list {
  display: flex;
  min-height: 100vh;
  margin: auto;
}

main {
  flex: 1;
}

.list-container {
  background: white;
  border: 1px solid #d3e2e5;
  color: #5c8599;

  margin: 6rem auto;
  padding: 4rem;

  width: 100rem;

  border-radius: 2rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
