:root {
  --dark-blue: #095379;
  --green: #36cf82;
  --dark-green: #448866;
  --border-radius: 2rem;
  --simple-border: 1px solid #d3e2e5;
  --font-weight: 700;
  --padding: 1.5rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: #f0f2f5;
  font-family: "Nunito", sans-serif;
  color: var(--dark-blue);
}

header {
  background: var(--green);
  text-align: center;
  padding: 2rem 0 10rem;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
