* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #ebf2f5;
}

:root {
  font-size: 62.5%;
}

body,
input,
button,
textarea,
label {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}

.info {
  background: white;
  border: 1px solid #d3e2e5;
  color: #5c8599;

  margin: 6.4rem auto;
  padding: 8rem;

  width: 70rem;

  border-radius: 2rem;
  overflow: hidden;

  font: 600 1.8rem/1 "Nunito", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
