aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem;

  background: #36cf82;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  border: none;
  background: #448866;
  border-radius: 1.6rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;

  transition: opacity 0.2s;
}

aside.sidebar footer button:hover {
  opacity: 0.8;
}

.with-sidebar {
  padding-left: 110px;
}
