.table{
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;

  font-weight: 400;
  color: #000;

  border-collapse: collapse;
  background: #fff;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.8rem;
}

tr:nth-child(even) {
  background-color: #36cf82;
}
