#register-form{
	padding: 3.2rem 2.4rem;
	min-height: 50vh;

	 
	display: flex;
	align-items: center;
	justify-content: center;
}
.box{
	margin: auto;
	width: min(90%, 50rem);
	background:#36cf82;

	display: flex;
	justify-content: center;
	align-items: center;
}

.box form {
	margin-top: 1.5rem;
	padding: 3.2rem 2.4rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}
.box form input{
    outline: none;
	margin: 0 auto;
	padding: 1rem;
    border: none;
	margin-bottom: .1rem;
    border-radius: 2rem;
}

form .form-button{
	height: 8rem;
	width: 50%;
	font: 700 2rem/1 'Nunito', sans-serif;
	outline: none;
	border: 0;
	background: gray;
	color: white;
  
	cursor: pointer;
  
	border-radius: 2rem;
	padding: 1.5rem 2rem;
  
	overflow: hidden;
  
	opacity: 1;
  
	transition: opacity 0.2s;
}
form .form-button:hover{
	opacity: .8;
}