header{
	height: 150px;
	background-color: #20B2AA;
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu a:hover{
	color: #F8F8FF;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000000; 
}
.title{
	color: #F8F8FF;
	text-shadow: 1px 1px 2px #000000; 
}
body{
	font-family: verdana;
	margin: 0px;
}
input[type=checkbox] {
    position: relative;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 10px;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #008B8B;
    border-radius: 3px;
    background-color: #F8F8FF;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #008B8B;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;    
} 

.button{
	width: 100px;
	height: 60px;	
	outline: none;
	color: #20B2AA;
	font-weight: bold;
	font-size: 18px;
	border: groove 0.5em #F8F8FF;  
  	border-radius: 0.5em;
	background-color: #F8F8FF; 
}
.button:hover {
	color: #F8F8FF;
	border: groove 0.5em #008B8B;  
  	border-radius: 0.5em;
	background-color: #008B8B; 
}



table, th, td {
  border: 1px solid #000000;	
}
th{
	color: #000000;
	text-shadow: 1px 1px 2px #008B8B;
}
#info{
	background-color: #008B8B;
  	height: 200px;
	border: groove 1em #008B8B;  
  	border-radius: 2em;
  	width: 400px;
  	margin-top: 50px;
  	display: flex;
}

#info p{
	color: #F8F8FF;
	text-align: justify;
	margin: 10px;
	position:relative;
}